@import 'styles/variables';

.NotificationDetailScreen {
	textarea {
		resize: none;
	}

	.NotificationSendEmail {
		display: flex;
		align-items: center;
		gap: 10px;

		p {
			margin: 0;
			font-weight: 600;
		}
	}
}